# 历史记录、数据环境
.Rhistory
.RData
.Ruserdata

# RStudio 项目临时文件夹
.Rproj.user/

# 项目文件
thesis.code-workspace
*.Rproj

# Mac 系统生成的临时文件
.DS_Store

# 编译产物或临时文件
*.o
*.so
*.dll

# 缓存文件
__pycache__/
*.piece

# 数据文件
*.csv
*.tsv
*.xlsx
*.rds

*.pdf
*.png
*.docx
*.pptx

**/tempCodeRunnerFile.py

temp/

data_process_script/API_KEY.txt